:root {
  --heading-font: 'Hind', sans-serif;
  --body-font: 'Hind', sans-serif;
  --primary-color: #3c4650;
  --secondary-color: #748697;
  --code-color: #c3b9af;
  --bg-color: #fff;
  --text-color: var(--primary-color);
  --link-color: var(--code-color);

  --post-mobile-width: 80%;
  --post-laptop-width: 45%;

  --sidebar-toggle-color: var(--primary-color);
  --sidebar-toggle-bg-color: var(--bg-color);

  --site-transition: all .25s ease-in-out;

  /* Screen size definitions
     These variables are only for reference, since CSS variables
     cannot be used in media queries */
  --max-mobile-width: 480px;

  --min-tablet-width: 481px;
  --max-tablet-width: 990px;

  --min-laptop-width: 991px;
  --max-laptop-width: 1366px;

  --max-large-device-width: 1367px;
}

body {
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--text-color);
}

.main-content {
  margin: auto;
}

article p {
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 0 0 1.5rem 0;
  font-weight: 400;
}

@media only screen and (max-width: 480px) {
  .main-content {
    width: 90vw;
  }
}

@media only screen and (min-width: 481px) and (max-width: 990px) {
  .main-content {
    width: 75vw;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1366px) {
  .main-content {
    width: 60vw;
  }
}

@media only screen and (min-width: 1367px) {
  .main-content {
    width: 40vw;
  }
}

/* Page */
.page .content a {
  text-decoration-style: dotted;
  color: inherit;
  text-underline-position: under;
}

.page .content a:hover {
  text-decoration-style: dashed;
}

.page .content img {
  max-width: 100%;
  margin: auto;
  display: block;
}
/* End of page */