:root {
  --heading-font: 'IBM Plex Sans', sans-serif;
  --body-font: 'IBM Plex Sans', sans-serif;
  --primary-color: #45484d;
  --secondary-color: #748697cc;
  --code-color: #c3b9af;
  --code-bg-color: #272822;
  --bg-color: #fff;
  --text-color: var(--primary-color);
  --link-color: var(--code-color);

  --post-mobile-width: 80%;
  --post-laptop-width: 45%;

  --sidebar-toggle-color: var(--primary-color);
  --sidebar-toggle-bg-color: var(--bg-color);

  /* Screen size definitions
     These variables are only for reference, since CSS variables
     cannot be used in media queries */
  --max-mobile-width: 480px;

  --min-tablet-width: 481px;
  --max-tablet-width: 990px;

  --min-laptop-width: 991px;
  --max-laptop-width: 1366px;

  --max-large-device-width: 1367px;
}

body {
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--text-color);
  text-rendering: optimizeLegibility;
}

.main-content {
  margin: auto;
}

article p {
  text-align: justify;
  font-size: 1.25rem;
  line-height: 1.6;
  margin: 0;
  font-weight: 400;
}

article p:first-child {
  margin-top: 0.75rem;
}

article p + p {
  margin-top: 1rem;
}

article h2 {
  font-size: 1.65rem;
}

article h3 {
  font-size: 1.5rem;
}

article h4 {
  font-size: 1.35rem;
}

article .content li {
  font-size: 1.25rem;
  line-height: 1.6;
  text-align: justify;
  margin: 0 0 .5rem 0;
  font-weight: 400;
}

article .content img {
  max-width: 100%;
  margin: 2rem auto;
  display: block;
}

article .content .embed-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

article .content .highlight {
  max-height: 50vh;
  overflow: auto;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  color: var(--code-color);
  background-color: var(--code-bg-color);
}

article .content .highlight pre {
  font-size: 1rem;
  padding: 1rem;
  max-width: 100%;
}

article .content a {
  text-decoration-style: dotted;
  text-decoration-color: var(--link-color);
  color: inherit;
  text-underline-position: under;
}

article .content a:hover {
  text-decoration-style: dashed;
}

article .timestamp {
  display: block;
  margin-top: -.75rem;
  color: var(--secondary-color);
}

@media only screen and (max-width: 480px) {
  .main-content {
    width: 90vw;
  }
}

@media only screen and (min-width: 481px) and (max-width: 990px) {
  .main-content {
    width: 75vw;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1366px) {
  .main-content {
    width: 60vw;
  }
}

@media only screen and (min-width: 1367px) {
  .main-content {
    width: 40vw;
  }
}

/* Page */
.page .content a {
  text-decoration-style: dotted;
  color: inherit;
  text-underline-position: under;
}

.page .content a:hover {
  text-decoration-style: dashed;
}

.page .content img {
  max-width: 100%;
  margin: auto;
  display: block;
}
/* End of page */