.post-summary {
  margin-bottom: 2rem;
}

.post-summary .content {
  padding: 1.5rem 0;
}

.post-summary .title {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
  line-height: 2.4rem;
}

.post-summary .title:hover {
  text-decoration: underline;
}

.post-summary .highlight pre {
  padding: 1rem;
  font-size: 0.9rem;
  max-width: 100%;
}

.post-summary .tag:hover {
  text-decoration: underline dashed;
  text-underline-position: under;
}

@media only screen and (min-width: 481px) and (max-width: 990px) {
  .post-summary .content .img-mobile img {
    max-width: var(--post-mobile-width);
  }
}

@media only screen and (min-width: 991px) {
  .post-summary .content .img-mobile img {
    max-width: var(--post-laptop-width);
  }
}