.post-summary {
  margin-bottom: 2rem;
}

.post-summary .title {
  text-decoration: none;
  color: inherit;
  transition: text-decoration 0.2s ease-in-out;
}

.post-summary .timestamp {
  display: block;
  margin-top: -1.75rem;
  color: var(--secondary-color);
  margin-bottom: .5rem;
}

.post-summary .title:hover {
  text-decoration: underline;
}

.post-summary .highlight {
  max-height: 50vh;
  overflow: auto;
  margin-bottom: 1.5rem;
  color: var(--code-color);
}

.post-summary .highlight pre {
  padding: 1rem;
  font-size: 0.9rem;
  max-width: 100%;
}

.post-summary .content a {
  text-decoration-style: dotted;
  color: inherit;
  text-underline-position: under;
}

.post-summary .content a:hover {
  text-decoration-style: dashed;
}

.post-summary .content img {
  max-width: 100%;
  margin: auto;
  display: block;
}

.post-summary .tag:hover {
  text-decoration: underline dashed;
  text-underline-position: under;
}


@media only screen and (min-width: 481px) and (max-width: 990px) {
  .post-summary .content .img-mobile img {
    max-width: var(--post-mobile-width);
  }
}

@media only screen and (min-width: 991px) {
  .post-summary .content .img-mobile img {
    max-width: var(--post-laptop-width);
  }
}