<head>
    <title>
      {{ if eq .Page.Title "Home" }}
      {{ .Site.Title }} &middot; {{ .Site.Params.tagline }}
      {{ else }}
      {{ .Page.Title }} &middot; {{ .Site.Title }}
      {{ end }}
    </title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#3c4650">
    <meta name="description" content="{{.Page.Params.description | default .Site.Params.description}}">
    <meta name="og:description" content="{{.Page.Params.description | default .Site.Params.description}}">
    <meta name="author" content="{{ .Params.Author | default .Site.Author.name }}" />
    {{- with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s+%s" href="%s" title="%s" />` .Rel .MediaType.Type .MediaType.Suffix .Permalink $.Site.Title | safeHTML }}
    {{- end -}}
    <link rel="canonical" href="{{ .Page.URL | absURL }}">

    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/icons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/icons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/icons/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16" />
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="application-name" content="Vinay Gopinath" />
    <meta name="msapplication-TileColor" content="#3c4650" />
    <meta name="msapplication-TileImage" content="/icons/mstile-144x144.png" />

    <style>
      {{ readFile "themes/vinaygopinath.me/static/css/font.css" | safeCSS }}
      {{ readFile "themes/vinaygopinath.me/static/css/site.css" | safeCSS }}
      {{ readFile "themes/vinaygopinath.me/static/css/components/navbar.css" | safeCSS }}
      {{ readFile "themes/vinaygopinath.me/static/css/components/pagination.css" | safeCSS }}
      {{ readFile "themes/vinaygopinath.me/static/css/components/post.css" | safeCSS }}
      {{ readFile "themes/vinaygopinath.me/static/css/components/post-summary.css" | safeCSS }}
      {{ readFile "themes/vinaygopinath.me/static/css/components/sidebar.css" | safeCSS }}
    </style>

    <!-- RSS -->
    <!-- <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml"> -->
  </head>

