{{ define "main"}}
<main>
  <style>
    {{ readFile "themes/vinaygopinath.me/static/css/components/post.css" | safeCSS }}
  </style>
  <article class="post">
    <h1 class="title">{{ .Title }}</h1>
    <time class="timestamp">{{ .Date.Format "Monday, 2 Jan, 2006 at 15:04" }}</time>
    <div class="content">
      {{ .Content }}
    </div>
    {{ with .Params.tags }}
      <div class="tags">
        Tags:
        {{ range . }}
          <a class="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </div>
    {{ end }}
  </article>
</main>
{{ end }}
