<!DOCTYPE HTML>
<html>

<head>
  <title>{{ .Title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
  <div class="wrapper">
    <div class="content">
      <div class="header">
        <h4 class="title">Vinay Gopinath</h4>
        <p class="description">Full-stack developer, traveller, cyclist</p>
      </div>
      <nav>
        <ul>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/work">Work</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</body>

<body>